/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline; /* приводим все к одной базовой линии */
    background: transparent; /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%; /* размер шрифта всем одинаковый */
}

@font-face {
    font-family: 'ArialRegular';
    src: url('../fonts/ArialRegular/ArialRegular.ttf'),
    url('../fonts/ArialRegular/arialregular-webfont.woff') format('woff2'),
    url('../fonts/ArialRegular/arialregular-webfont.woff2') format('woff'),
font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/lucida-sans-unicode/lucida-sans-unicode_[allfont.ru].ttf'),
    url('../fonts/lucida-sans-unicode/lucida-sans-unicode_allfont.ru-webfont.woff2') format('woff2'),
    url('../fonts/lucida-sans-unicode/lucida-sans-unicode_allfont.ru-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}



.main_cont  {
    margin: auto;
    width: 1000px;
    height: 1310px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

header {
    position: relative;
    padding: 13px 45px 0 45px;
    background-color: #fff;
}

.telephone {
    position: relative;
    display: inline-block;
    width: 297px;
    height: 22px;
    background-color: #ffffff;
}

.telephone a {
    position: absolute;
    padding-left: 7px;
    top: 6px;
    width: 100%;
    z-index: 1;
}

.telephone span {
    color: #5e696d;
    position: relative;
    top: 4px;
    font-family: Arial, sans-serif;
    padding-left: 32px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25px;
    vertical-align: middle;
    letter-spacing: 0.025rem;
}

.Shape {
    position: relative;
    display: inline-block;
    width: 495px;
    height: 26px;
    margin: 4px 7px 0 13px;
    background-color: #b1bcc0;
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    border-radius: 4px;
    box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}
.Shape input {
    display: inline-block;
    width: 111px;
    height: 16px;
    padding-left: 2px;
    color: #97a2a6;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 25px;
    border: 1px solid rgb(155, 161, 163);
    border-radius: 2px;
    margin-right: 8px;
}
.men {
    float: left;
    display: inline-block;
    padding: 4px 4px 2px 6px;
}

.ul_head  {
    display: inline-block;
    list-style: none;
    margin-left: -7px;
}

.ul_head li  {
    display: inline-block;
    list-style: none;
}

.ul_head a  {
    color: #fff;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.6875rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 25px;
    text-decoration: none;
}

.ul_head a:hover {
    color: #bfbfbf;
}

.left_li {
    background: url("../img/line.png") no-repeat right 9px;
    padding-right: 6px ;
}

.right_li a {
    color: #bfbfbf;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: underline;
    padding-left: 6px;
}
.right_li a:hover {
    text-decoration: none;
}

.navi {
    position: absolute;
    display: inline-block;
    background-image: url("../img/Shape.png");
    width: 73px;
    height: 27px;
    padding-top: 6px;
    padding-left: 9px;
    margin-left: 3px;
}

.navi a {
    padding-left: 4px;
}

.main_image {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
}

.main_menu {
    width: 910px;
    height: 34px;
    background-image: linear-gradient(to top, #000 0%, #576068 100%);
    border: 1px solid #0d1642;
    border-radius: 5px;
    box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}

.menu li {
    float: left;
    margin-top: 2px ;
    list-style: none;
}

.menu > li:first-child {
    padding-left: 126px;
}

.menu li a {
    text-align: center;
    display: block;
    line-height: 25px;
    padding: 3px 16px 0 16px;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 0.008rem;

    color: #b1bcc0;
    text-decoration: none;
}


.menu .first_a:hover {
    background: url("../img/point.png")no-repeat;
    color: #fff;
}

.menu li a:hover {
    background: url("../img/point2.png") no-repeat;
    background-position: center;
    color: #fff;
}

.menu .litle:hover {
    background: url("../img/point3.png") no-repeat;
    background-position: center;
    color: #fff;
}

.basket {
    position: relative;
    float: right;
    width: 228px;


}

.basket li  {
    text-align: center;
    display: block;
    float: right;
    margin-top: 2px ;
    list-style: none;
    line-height: 25px;
    padding: 2px 10px 0 1px;
    font-family: arial bold, sans-serif;
    font-size: 0.6875rem;
    letter-spacing: 0.02rem;
    color: 	#929b9f;
    text-decoration: none;
}


.basket_img {
    position: absolute;
    display: block;
    margin-top: 7px;

}

.basket span {
    color: #0d5a8f;
    font-size: 0.75rem;
    letter-spacing: 0.008rem;
    padding: 0 5px;

}

.search {
    position: relative;
    padding: 8px 48px 0 48px;
    background-color: #fff;
    overflow: hidden;
    zoom: 1;
}

.search img {
    display: inline-block;
    float: left;
}

.findTires {
    margin-left: 8px;
}
.findDisc {
    margin-left: 4px;
    position: absolute;
    float: right;
}

.katalog {
    float: left;
    width: 191px;
    height: 422px;
    margin-left: 45px;
    margin-top: 10px;

}


.mainframe {
    display: block;
    background: url("../img/katalogframe.png") no-repeat;
    color: #114165;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 7px 0 8px 12px;
    letter-spacing: 0.030rem;
    text-decoration: none;
    margin-bottom: 6px;
}

.goodsframe {
    display: block;
    background: url("../img/framegoods.png") no-repeat;
    color: #114165;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 7px 0 8px 32px;
    letter-spacing: 0.025rem;
    text-decoration: none;
}


.main_ul li {
    position: relative;
    padding-top: 2px;
    padding-bottom: 0;
    padding-left: 36px;
    max-width: 100%;
    font-family: "Lucida Sans Unicode", sans-serif;
    display: block;
    transition: all .5s ease;
    list-style: none;

}

.main_ul span {
    padding-left: 10px;
    letter-spacing: 0.03rem;

}

.main_ul li a {
    background: url("../img/check.png") 0 5px no-repeat;
    color: #114165;
    text-decoration: none;
    font-size: 0.75rem
}

.main_ul li a:hover {

    display: inline-block;
    font-family: arial bold, sans-serif;
    font-style: italic;
    color: #0C3256;
    font-weight: 600;
    text-decoration: underline;
    font-size: 0.875rem;
    background: url("../img/check_hover.png") 0 5px no-repeat;
    transition: all .05s ease
}

main {
    float: left;
    max-width: 526px;
    max-height: 627px;
    background-color: #fff;
    background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
    border-radius: 3px;
    overflow: hidden;
}

.column {
    max-width: 180px;
}
.fig_left {
    padding-top: 3px;
    text-align: center;
    width: 100%;
    font-family: "Lucida Sans Unicode", sans-serif;
}

.fig_center {
   margin-left: -10px;
    padding-top: 3px;
    text-align: center;
    width: 100%;
    font-family: "Lucida Sans Unicode", sans-serif;
}

.fig_right {
    margin-left: -21px;
    padding-top: 3px;
    text-align: center;
    width: 100%;
    font-family: "Lucida Sans Unicode", sans-serif;
}


figcaption {
    width: 100%;
    color: #1f2528;
    font-size: 13px;

}

figcaption span{
    display: block;
    font-size: 0.875rem;
    color: #206988;
    font-weight: 600;
    margin-bottom: -5px;

}

.price {
    color: #114165;
    font-family: Arial Regular, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1rem;
    margin-top: -6px;
    padding-left: 12px;

}


aside {
    max-width: 526px;
    height: 422px;
    margin-right: 45px;
    margin-top: 10px;
    overflow: hidden;
}

.bottomframe {
    margin-top: 11px;
}


aside p {
    color: #465961;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    padding-left: 42px;
    padding-top: 2px;
}


.mainframe_right {
    display: block;
    background: url("../img/katalogframe.png") no-repeat;
    color: #114165;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 6px 0 8px 31px;
    letter-spacing: 0.030rem;
    text-decoration: none;
    margin-bottom: 6px;
    margin-left: 8px;
}

.goodsframe_right {
    display: block;
    background: url("../img/goodsframe_right.png") no-repeat;
    color: #114165;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 7px 0 8px 32px;
    letter-spacing: 0.025rem;
    text-decoration: none;
    margin-left: 25px;
}

.submit {
    display: block;
    background: url("../img/select.png") no-repeat;
    color: #e5e9ea;
    font-family: Arial Regular, sans-serif;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 9px 0 8px 14px;
    letter-spacing: 0.038rem;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 33px;
}

.submit:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #e5e9ea;
}


footer {
    margin: 0 auto;
    clear: both;
    text-align: center;
    width: 910px;
    height: 101px;
}

.first_sec {
    width: 910px;
    height: 101px;
}

.first_sec img{
    padding-top: 46px;
    padding-left: 8px;
    vertical-align: middle;
}

.second_sec {

    background-color: #213a4d;
    width: 910px;
    height: 101px;
    padding-top: 4px;
}

.second_sec .left_li {
    background: url("../img/line.png") no-repeat right 8px;
}

.second_sec a {
    font-family: Arial Regular, sans-serif;
    font-size: 0.75rem;
    color: #fff;
    padding: 0 9px;
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 25px;
    text-decoration: none;
}
.second_sec a:hover {
    color: #52abcb;
}

.second_sec img {
    display: block;
    margin: 7px auto;

}


